# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Môi trường ảo (nếu có)
venv/
.venv/
.env

# OS Files
.DS_Store
Thumbs.db

# Cài đặt IDE
.vscode/
.idea/

# Build folders
build/
dist/

# Cấu hình người dùng
config.json

# Thùng rác nội bộ
PADOrganizer_Trash/
